<form action="/search" method="get">
  <input type="search" name="q" autofocus="" placeholder="Enter a movie title">
  <button name="button" value="search">Search</button>
  <button name="button" value="lucky">I'm Feeling Lucky!</button>
</form>
