body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1 {
  line-height: 1;
  font-size: 34px;
  font-weight: 300;
  margin: 0 0 10px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

input {
  display: block;
  width: 170px;
  padding: auto;
}

ol, ul {
  font-size: 14px;
  padding-left: 0;
}

li {
  list-style-type: none;
}

#results li {
  margin: 10px 0;
}

a {
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #ecd05e;
  margin: 0;
  padding: 0;
}

#outer-container {
  margin: auto;
  width: 600px;
}

#inner-container {
  background-color: white;
  bottom: 16px;
  box-shadow: 0px 0px 40px #999;
  overflow: scroll;
  padding: 30px;
  position: absolute;
  top: 0;
  width: 600px;
}

header {
  background-color: white;
}

#home header, #home #main, footer {
  text-align: center;
}

#home input {
  margin: 5px auto;
}

#movie header {
  position: absolute;
  top: 15px;
  right: 30px;
}

#movie header h1, #movie header button {
  display: none;
}

img.emoji {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

img#poster {
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #999;
  margin-left: 40px;
  max-width: 200px;
  position: absolute;
  right: 0;
  top: 5px;
}

#movie h2 {
  font-family: "Permanent Marker", sans-serif;
  font-size: 32px;
  font-weight: 400;
  margin: 0 auto;
}

#movie h3 {
  font-size: 16px;
  clear: both;
}

#movie #box {
  margin-top: 10px;
  position: relative;
  width: 600px;
}

blockquote {
  font-family: "Special Elite", monospace;
  line-height: 22px;
  font-size: 14px;
  margin: 0 0 10px 0;
  text-align: justify;
}

dl {
  margin-top: 0;
}

dt {
  float: left;
  text-align: right;
  width: 150px;
  font-size: 13px;
}

dt:after {
  content: ":";
}

dt, dd {
  line-height: 2em;
}

dd {
  font-size: 14px;
  font-weight: 400;
  margin-left: 160px;
}

dd ol, dd ul {
  margin: 0 auto;
}

footer {
  background-color: white;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 12px;
}
